@font-face {
  font-family: "YekanBakh";
  src: url("../fonts/YekanBakh-Regular.woff") format("woff");
}
body {
  font-family: "YekanBakh", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
p {
  margin-bottom: 0;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
input,
button {
  border: none;
  outline: none;
}
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.03);
}
.wrapp-header.container {
  max-width: 1800px;
}
.input-search-form {
  background-color: #f1f2f4;
  color: #767790;
  padding: 0.7rem;
  padding-right: 3rem;
  border-radius: 0.5rem;
}
.btn-submit-search {
  top: 9px;
  right: 5px;
  background-color: transparent;
}
.signin-btn {
  padding: 8px 18px;
  border-radius: 8px;
}
.divider-line {
  content: "";
  display: block;
  background-color: #dee2e6;
  width: 1px;
  height: 25px;
}
.category-products {
  background-color: transparent;
  min-width: 155px;
  cursor: pointer;
}
.item-menu:nth-child(2) {
  border-left: 1px solid;
  border-right: 1px solid;
}
.hiro-slider {
  max-height: 350px;
}
.hiro-slider img {
  object-fit: cover;
}
.hiro-slider .swiper-pagination-bullet-active {
  background-color: #fff;
  width: 20px;
  border-radius: 100px;
}
.hiro-slider .swiper-button-prev,
.hiro-slider .swiper-button-next {
  top: unset;
  bottom: 45px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.hiro-slider .swiper-button-prev {
  right: 40px;
}
.hiro-slider .swiper-button-next {
  right: 90px;
}
.hiro-slider .swiper-button-next:after,
.hiro-slider .swiper-button-prev:after {
  font-size: 12px;
  color: #212529;
}
.hiro-slider-btns {
  opacity: 0;
  transition: all 0.2s ease-in;
  visibility: hidden;
}
.hiro-slider:hover .hiro-slider-btns {
  opacity: 1;
  visibility: visible;
}
.quick-items img {
  max-width: 52px;
  max-height: 52px;
  object-fit: cover;
}
.quick-items p {
  font-size: 12px;
}
.more-items span {
  background-color: #f1f2f4;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.offer-product-wrapper {
  background-color: #ef394e;
  border-radius: 12px;
}
.off-percent {
  background-color: #ef394e;
}
.deleted-price {
  color: #c3c3ce;
  font-size: 12px;
}
.offer-product-slider .swiper-slide:nth-child(2) {
  border-radius: 0 0.5rem 0.5rem 0;
}
.offer-product-slider .swiper-slide:last-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.fresh-wrapper {
  background: #f1f2f4 url("../images/freshPattern.svg") left center no-repeat;
}
.icon-fresh p {
  background-color: #39ae00;
}
.item-fresh p {
  background-color: #ef394e;
  bottom: -5px;
  right: 0;
  border-radius: 12px;
}
.more-products-fresh {
  color: #39ae00;
}
.box-ads,
.off-banner {
  border-radius: 16px;
}
.img-offer {
  background-color: #f1f2f4;
  width: max-content;
  margin: auto;
}
.digiplus {
  background: #941b80 url("../images/plus-widget.png") right center no-repeat;
  background-size: contain;
}
.title-digiplus a {
  color: #941b80;
}
.digiplus-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.submenu {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  top: 25px;
  padding: 1rem;
}

li.category-products:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.has-child-menu li {
  margin-bottom: 0.5rem;
}
.wrap-hass {
  z-index: 2;
}
.wrap-has,
.wrap-hass {
  right: 80px;
  top: 0px;
  padding: 1rem 2rem;
  min-height: 500px;
}
.child-submenu {
  min-height: 500px;
}
.add-active:hover + .wrap-has {
  z-index: 5;
}
.add-active,
.normal-active {
  padding: 1rem 0;
}

/*----------------------- MEGA ----------------- */
.overlay-body {
  position: relative;
}
.overlay-body::after {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bmenu {
  background: #fff;
  color: #212529 !important;
  font-size: 14px;
}
nav.bmenu {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 1.25rem 0 1.25rem 1.25rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  box-sizing: border-box;
}
nav.bmenu a:link,
nav.bmenu a:visited {
  color: inherit;
  text-decoration: none;
}
nav.bmenu > * {
  vertical-align: top;
}
nav.bmenu > a,
nav.bmenu > hr {
  float: right;
  clear: both;
}
.bmenu strong {
  display: block;
  font-weight: bold;
  margin: 0;
  height: 2em;
  line-height: 2em;
}
nav.bmenu article.panel::before {
  display: block;
  z-index: 2000;
  height: calc(100% - 2 * (0.5 * 1rem));
  content: "";
  width: 0;
  border-right: 1px solid white;
  border-color: inherit;
  position: absolute;
  top: calc(0.5 * 1rem);
  box-sizing: border-box;
}
nav.bmenu a {
  position: relative;
  display: block;
  height: 2em;
  line-height: 2em;
  min-width: 160px;
  padding-right: 1.25rem;
}
nav.bmenu > hr {
  border: 0;
  border-top-width: 1px;
  border-top-color: inherit;
  border-top-style: solid;
  width: 160px;
  margin: 1em 0;
}
nav.bmenu article.panel {
  display: none;
  position: relative;
  min-height: calc(463px - 2 * 1.25rem);
}
nav.bmenu article.panel section.titled-group {
  min-width: 160px;
}
nav.bmenu section.titled-group:not(:first-of-type) {
  margin-top: 2em;
}
nav.bmenu div.column {
  min-width: 210px;
  margin-right: 1.25rem;
}

label.bmenu.toggle {
  display: inline-block;
  background: transparent;
  color: #212529;
}
.hidden {
  display: none;
}

/** behaviour **/
.bmenu a,
label.bmenu {
  cursor: pointer;
}
article.panel {
  display: none;
}

#bmenu_toggle
  ~ div.hide-at-start-wrapper
  > nav.bmenu
  > article.panel:nth-of-type(10) {
  display: inline-flex;
}
#bmenu_toggle
  ~ div.hide-at-start-wrapper
  > nav.bmenu
  > article.panel:hover
  ~ article.panel:nth-of-type(10),
#bmenu_toggle
  ~ div.hide-at-start-wrapper
  > nav.bmenu
  > a:focus:not(.no-panel)
  ~ article.panel:nth-of-type(10),
#bmenu_toggle
  ~ div.hide-at-start-wrapper
  > nav.bmenu
  > a:hover:not(.no-panel)
  ~ article.panel:nth-of-type(10) {
  display: none;
}

nav.bmenu > a:nth-of-type(1):focus ~ article.panel:nth-of-type(1),
nav.bmenu > a:nth-of-type(1):hover ~ article.panel:nth-of-type(1) {
  display: inline-flex;
}
nav.bmenu > a:nth-of-type(1):focus ~ article.panel:nth-of-type(10),
nav.bmenu > a:nth-of-type(1):hover ~ article.panel:nth-of-type(10) {
  display: inline-flex;
}
nav.bmenu > a:nth-of-type(2):focus ~ article.panel:nth-of-type(2),
nav.bmenu > a:nth-of-type(2):hover ~ article.panel:nth-of-type(2) {
  display: inline-flex;
}
nav.bmenu > a:nth-of-type(3):focus ~ article.panel:nth-of-type(3),
nav.bmenu > a:nth-of-type(3):hover ~ article.panel:nth-of-type(3) {
  display: inline-flex;
}
nav.bmenu > a:nth-of-type(4):focus ~ article.panel:nth-of-type(4),
nav.bmenu > a:nth-of-type(4):hover ~ article.panel:nth-of-type(4) {
  display: inline-flex;
}
nav.bmenu > a:nth-of-type(5):focus ~ article.panel:nth-of-type(5),
nav.bmenu > a:nth-of-type(5):hover ~ article.panel:nth-of-type(5) {
  display: inline-flex;
}
nav.bmenu > a:nth-of-type(6):focus ~ article.panel:nth-of-type(6),
nav.bmenu > a:nth-of-type(6):hover ~ article.panel:nth-of-type(6) {
  display: inline-flex;
}
nav.bmenu > a:nth-of-type(7):focus ~ article.panel:nth-of-type(7),
nav.bmenu > a:nth-of-type(7):hover ~ article.panel:nth-of-type(7) {
  display: inline-flex;
}
nav.bmenu > a:nth-of-type(8):focus ~ article.panel:nth-of-type(8),
nav.bmenu > a:nth-of-type(8):hover ~ article.panel:nth-of-type(8) {
  display: inline-flex;
}
nav.bmenu > a:nth-of-type(9):focus ~ article.panel:nth-of-type(9),
nav.bmenu > a:nth-of-type(9):hover ~ article.panel:nth-of-type(9) {
  display: inline-flex;
}

nav.bmenu
  > a:hover:not(.no-panel)
  ~ a:focus:nth-of-type(1)
  ~ article.panel:nth-of-type(1),
nav.bmenu
  > a:focus:nth-of-type(1)
  ~ a:hover:not(.no-panel)
  ~ article.panel:nth-of-type(1) {
  display: none;
}
nav.bmenu
  > a:hover:not(.no-panel)
  ~ a:focus:nth-of-type(2)
  ~ article.panel:nth-of-type(2),
nav.bmenu
  > a:focus:nth-of-type(2)
  ~ a:hover:not(.no-panel)
  ~ article.panel:nth-of-type(2) {
  display: none;
}
nav.bmenu
  > a:hover:not(.no-panel)
  ~ a:focus:nth-of-type(3)
  ~ article.panel:nth-of-type(3),
nav.bmenu
  > a:focus:nth-of-type(3)
  ~ a:hover:not(.no-panel)
  ~ article.panel:nth-of-type(3) {
  display: none;
}
nav.bmenu
  > a:hover:not(.no-panel)
  ~ a:focus:nth-of-type(4)
  ~ article.panel:nth-of-type(4),
nav.bmenu
  > a:focus:nth-of-type(4)
  ~ a:hover:not(.no-panel)
  ~ article.panel:nth-of-type(4) {
  display: none;
}
nav.bmenu
  > a:hover:not(.no-panel)
  ~ a:focus:nth-of-type(5)
  ~ article.panel:nth-of-type(5),
nav.bmenu
  > a:focus:nth-of-type(5)
  ~ a:hover:not(.no-panel)
  ~ article.panel:nth-of-type(5) {
  display: none;
}
nav.bmenu
  > a:hover:not(.no-panel)
  ~ a:focus:nth-of-type(6)
  ~ article.panel:nth-of-type(6),
nav.bmenu
  > a:focus:nth-of-type(6)
  ~ a:hover:not(.no-panel)
  ~ article.panel:nth-of-type(6) {
  display: none;
}
nav.bmenu
  > a:hover:not(.no-panel)
  ~ a:focus:nth-of-type(7)
  ~ article.panel:nth-of-type(7),
nav.bmenu
  > a:focus:nth-of-type(7)
  ~ a:hover:not(.no-panel)
  ~ article.panel:nth-of-type(7) {
  display: none;
}
nav.bmenu
  > a:hover:not(.no-panel)
  ~ a:focus:nth-of-type(8)
  ~ article.panel:nth-of-type(8),
nav.bmenu
  > a:focus:nth-of-type(8)
  ~ a:hover:not(.no-panel)
  ~ article.panel:nth-of-type(8) {
  display: none;
}
nav.bmenu
  > a:hover:not(.no-panel)
  ~ a:focus:nth-of-type(9)
  ~ article.panel:nth-of-type(9),
nav.bmenu
  > a:focus:nth-of-type(9)
  ~ a:hover:not(.no-panel)
  ~ article.panel:nth-of-type(9) {
  display: none;
}

nav.bmenu
  > a:nth-of-type(1):focus
  ~ article.panel:hover
  ~ article.panel:nth-of-type(1) {
  display: none;
}
nav.bmenu
  > a:nth-of-type(2):focus
  ~ article.panel:hover
  ~ article.panel:nth-of-type(2) {
  display: none;
}
nav.bmenu
  > a:nth-of-type(3):focus
  ~ article.panel:hover
  ~ article.panel:nth-of-type(3) {
  display: none;
}
nav.bmenu
  > a:nth-of-type(4):focus
  ~ article.panel:hover
  ~ article.panel:nth-of-type(4) {
  display: none;
}
nav.bmenu
  > a:nth-of-type(5):focus
  ~ article.panel:hover
  ~ article.panel:nth-of-type(5) {
  display: none;
}
nav.bmenu
  > a:nth-of-type(6):focus
  ~ article.panel:hover
  ~ article.panel:nth-of-type(6) {
  display: none;
}
nav.bmenu
  > a:nth-of-type(7):focus
  ~ article.panel:hover
  ~ article.panel:nth-of-type(7) {
  display: none;
}
nav.bmenu
  > a:nth-of-type(8):focus
  ~ article.panel:hover
  ~ article.panel:nth-of-type(8) {
  display: none;
}
nav.bmenu
  > a:nth-of-type(9):focus
  ~ article.panel:hover
  ~ article.panel:nth-of-type(9) {
  display: none;
}

nav.bmenu > article.panel:hover {
  display: inline-flex;
}

nav.bmenu > article.panel:hover ~ article.panel {
  display: none;
}

#bmenu_toggle:not(:checked) ~ div.hide-at-start-wrapper > nav.bmenu > a::after {
  border-color: black;
}

nav.bmenu > a:not(.no-panel):hover::before,
nav.bmenu > a:not(.no-panel):focus::before {
  content: "";
  position: absolute;
  z-index: 1000;
  display: block;
  right: -1.25rem;
  top: 0;
  height: 100%;
  width: 0.3em;
  background-color: white;
}
nav.bmenu > a:hover::after,
nav.bmenu > a:focus::after {
  border-color: white;
}
nav.bmenu > article.panel a:hover,
nav.bmenu > a.no-panel:hover {
  color: grey;
}
label {
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
label.bmenu.toggle {
  font-size: 15px;
  margin-right: 35px;
}
.heavy {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: 900;
}
input#bmenu_toggle:checked ~ div.hide-at-start-wrapper > nav.bmenu.panel {
  animation: roll-open 0.4s ease 0s normal forwards;
  transition: padding 0.1s ease, color 0.2s ease 0.1s;
  display: block;
  color: white;
}
input#bmenu_toggle:not(:checked) ~ div.hide-at-start-wrapper > nav.bmenu.panel {
  animation: roll-closed 0.4s ease 0s normal forwards;
  transition: padding 0.1s ease 0.2s, color 0.2s ease;
  padding: 0;
  color: black;
}
@keyframes roll-open {
  0% {
    max-height: 0;
  }
  99% {
    max-height: 463px;
  }
  100% {
    max-height: unset;
  }
}
@keyframes roll-closed {
  0% {
    max-height: unset;
  }
  1% {
    max-height: 463px;
  }
  100% {
    max-height: 0;
  }
}
@keyframes hide-at-start {
  0% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

div.hide-at-start-wrapper {
  animation: hide-at-start 0.5s ease 0s normal forwards;
  position: absolute;
  z-index: 5;
}

/** triangular hover regions **/
nav.bmenu.panel > a {
  position: relative;
}
nav.bmenu.panel > a > span.triangle-origin {
  display: inline-block;
  width: 100%;
  height: 100%;
}
nav.bmenu.panel > a > span.triangle-origin:hover::after {
  background: transparent;
  z-index: 1001;
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  left: -300px;
  top: 0;
  content: "";
  /**
  outline: 1px solid lime;
  **/
  -ms-transform: rotate(-45deg) skew(20deg, 20deg) translate(0, -100%);
  -webkit-transform: rotate(-45deg) skew(20deg, 20deg) translate(0, -100%);
  transform: rotate(-45deg) skew(20deg, 20deg) translate(0, -100%);
}
nav.bmenu.panel > article.panel {
  position: relative;
  z-index: 1000;
}

.bottom-list-menu {
  font-size: 12px;
}
.digi-support p,
.go-top {
  font-size: 12px;
}
.menu-footer li:not(:last-child),
.menu-footer strong {
  margin-bottom: 0.5rem;
}
.menu-footer strong {
  display: block;
}
.newsletter input[type="email"] {
  background-color: #f1f2f4;
  padding: 1rem 0.5rem;
  min-width: 70%;
  border-radius: 0.75rem;
}
.newsletter input[type="submit"]{
  color: #fff;
  background-color: #E0E0E6;
  border-radius: 0.75rem;
  padding: 1rem;
}
.buss-digi{
  background-color: #F1F2F4;
}
.brands-digi{
  height: 45px;
}
.brands-digi img{
  object-fit: cover;
}

@supports (-ms-ime-align: auto) {
  nav.bmenu.panel {
    display: table;
  }
  input#bmenu_toggle:checked ~ div.hide-at-start-wrapper > nav.bmenu.panel {
    animation: 0;
    transition: 0;
    height: auto;
    display: table;
  }
  input#bmenu_toggle:not(:checked)
    ~ div.hide-at-start-wrapper
    > nav.bmenu.panel {
    animation: 0;
    transition: 0;
    height: 0;
    display: none;
  }

  div.hide-at-start-wrapper {
    animation: 0;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  nav.bmenu.panel {
    display: table;
  }
  input#bmenu_toggle:checked ~ div.hide-at-start-wrapper > nav.bmenu.panel {
    animation: 0;
    transition: 0;
    height: auto;
    display: table;
  }
  input#bmenu_toggle:not(:checked)
    ~ div.hide-at-start-wrapper
    > nav.bmenu.panel {
    animation: 0;
    transition: 0;
    height: 0;
    display: none;
  }

  div.hide-at-start-wrapper {
    animation: 0;
  }
}
@media screen\0 {
  nav.bmenu.panel {
    display: table;
  }
  input#bmenu_toggle:checked ~ div.hide-at-start-wrapper > nav.bmenu.panel {
    animation: 0;
    transition: 0;
    height: auto;
    display: table;
  }
  input#bmenu_toggle:not(:checked)
    ~ div.hide-at-start-wrapper
    > nav.bmenu.panel {
    animation: 0;
    transition: 0;
    height: 0;
    display: none;
  }
  div.hide-at-start-wrapper {
    animation: 0;
  }
}
@media screen and (max-width: 800px){
  .bottom-list-menu,.item-signin{
    display: none !important;
  }
  .row > *{
    margin-bottom: 15px;
  }
  .article.panel, nav.bmenu.panel > article.panel{
    flex-direction: column;
  }
}
@media screen and (max-width: 600px){
  .location{
    display: none;
  }
  .wrapp-header > div{
    padding: 0 !important;
  }
}
